body{
    margin: 0;
    font-family: "Arial";
}

.container{
    max-width: 1180px;
    width: 100%;
    margin: 8px auto;
}

.list-info,
.list-menu{
    list-style: none;
}

.list-menu{
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.list-info li,
.list-menu li{
    display: flex;
    align-items: center;
}

.list-menu li a{
    text-decoration: none;
}